/*
Color Theme

Beige: #e5d0ae
Dark Navy: #1d304c
Soft Orange: #ed6240
Aqua: #46af80
Light Blue: #35a7e0
 */
*{
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body{
    background-color: #1d304c;
    color: #e5d0ae;
}

a{
    color: #ed6240;
    text-decoration: none;
}

#movieList ul{
    background-color: rgba(35,167,224,.5);
    border-radius: 25px;
    border: 2px solid #ed6240 ;
    padding: 25px;
    font-size: 20px;
}

table{
    /*background-color: rgba(35,167,224,.5);
    border-radius: 25px;
    border: 2px solid #ed6240 ;*/
    padding: 5px;
    font-size: 20px;
}

h1, h2{
    color: #ed6240;
}

#movieList{
    width: 100%;
}

img{
    border-radius: 25px;
    border: 5px solid #ed6240;
    max-width: 94%;

}

#hobbyCompy{
    height: 450px;
    width: 425px;
}

table img{
    width: 200px;
    height: 150px;
}

#headerLogo{
    float: right;
    width: 150px;
    height: 150px;
    margin: 5px;
}

.headerTitle{
    text-align: center;
}

header{
    border-bottom: 3px solid #ed6240;
    overflow: auto;
    padding: 0px;
    text-align: center;
    background-image: linear-gradient(rgba(35,167,224,.5),#1d304c);
    width: 100%;

}

section{
    border-radius: 25px;
    border: 2px solid #ed6240 ;
    padding: 10px;
    margin: 10px;
    overflow: auto;
    font-size: 20px;
    background-color: rgba(35,167,224,.5);
}

section p{
    color: #e5d0ae;
}

section h2{
    text-align: center;
}

.highlightImg{
    float: right;
    height: 225px;
    width: 212px;

}

section p span{
    font-style: italic;
}

aside{
    text-align: center;
    border: 2px solid #e5d0ae;
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
    max-width: 94%;
    overflow: auto;
}

aside h2{
    text-align: center;
}

footer{
    border-top: 2px solid #ed6240;
}

nav{
    clear: both;
    border-bottom: 2px solid #ed6240;
    margin-bottom: 5px;
    text-align: center;

}

nav ul{
    padding: 5px;
    margin: 5px;
    list-style: none;
}

nav li{
    display: inline;
}

nav a{
    border: 4px solid #ed6240;
    padding: 10px;
    margin: 5px;
    display: block;
    border-radius: 10px;
    background-color: #e5d0ae;
    box-shadow: 2px 7px 5px #000000;
    font-weight: bold;
    text-align: center;
}

nav a:hover{
    background-color: #ed6240;
    color: #e5d0ae;
}

nav a:active{
    background-color: #b23213;
    transform: translateY(4px);
    box-shadow: 0px 4px 5px #000000;
}

@media screen and (min-width: 768px){
    nav li{
        display: inline-block;
    }
    nav a{
        padding-left: 20px;
        padding-right: 20px;
    }
    #specialButton:hover{
        transition: all 1s ease-in-out;
        background: #1d304c;
        color: #ed6240;
    }
}

nav a.current{
    background: none;
}

nav a.current:hover{
    background-color: #ed6240;
}
#intro{
    position: relative;
}
#specialButton{
    text-align: center;
    font-size: larger;
    color: #1d304c;
    border: 3px solid #ed6240;
    border-radius: 20px;
    width: 10%;
    height: 100px;
    background: #ed6240;
    margin: 0px 20px 0px 20px;

}
#specialButton:hover{
    transition: all 1s ease-in-out;
    background: #1d304c;
    color: #ed6240;
    transform: translate(100px);

}
#advancedAside{
    float: right;
    position: relative;
}
#scene{
    margin-top: 30px ;
    position: relative;
    height: 800px;
}
#pond{
    background: aqua;
    border-radius: 10%;
    height: 100%;
    width: 100%;
}
#fish{
    border: none;
    display: inline-block;
    width: 200px;
    height: 100px;
    transform: translate(10000px);
    animation-name: fish;
    animation-duration: 30s;
}
#puffer{
    transform: translate(-1000px, 300px);
    border: none;
    width: 200px;
    height: 200px;
    animation-name: puffer;
    animation-duration: 30s;
}
#hook{
    width: 50px;
    height: 100px;
    border: none;
    transform: translate(0px, 10000px);
}
#bubble{
    border: none;
    height: 50px;
    width: 50px;
    transform: translate(1200px);
    animation-name: bubble;
    animation-duration: 30s;
 }
#bubble2{
    border: none;
    height: 50px;
    width: 50px;
    transform: translate(-600px, 390px);
    animation-name: bubble2;
    animation-duration: 30s;
}
@keyframes puffer {
    10% {transform: translate(0px, 500px)}
    20% {transform: translate(0px, 550px)}
    50% {
        transform: translate(0px, 500px)
        scale(2);
    }
    60% {transform: translate(-1000px) scale(-1)}

}
@keyframes fish {
    20% {transform: translate(390px, 500px)}
    40% {transform: translate(585px, 560px)}

}
@keyframes bubble {
    0% {transform: translate(1200px, 390px)}
    10% {transform: translate(1200px, 390px)}
    15% {transform: translate(950px, 40px)}
    100% {transform: translate(900px, 40px)}

}
@keyframes bubble2 {
    3% {transform: translate(-600px, 390px)}
    10% {transform: translate(-100px, 40px)}
    100% {transform: translate(0px, 40px)}
}